@import url(https://fonts.google.com/specimen/Inter);

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 32px;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: url("./images/pattern-bg.svg") no-repeat;
    background-size: 600px;
    background-position: 90% 40%;
}

.curve__img {
    position: absolute;
    bottom: 0;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.dev__testimonial {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;

}

.info__section {
    grid-area: 3 / 1 / 6 / 4;
    margin-left: 120px;
    width: 650px;
    display: grid;
    align-content: center;
    text-align: left;
    z-index: 10;
}

.testimonial {
    font-weight: 300;
}

.img__dev {
    grid-column: 4 / 8;
    grid-row: 2 / 7;
    margin-left: 90px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 6px 8px 24px -5px rgba(0,0,0,0.12);
    
}

.testimonial__name {
    font-size: 20px;
    font-weight: 600;
}

span {
    font-size: 20px;
    font-weight: 400;
    color: hsl(240, 18%, 77%);
}

#slide__2 {
    display: none;
}

@media only screen and (max-width: 500px) {
    body {
        background-size: 350px;
        background-position: 50% -30%;
    }

    .curve__img {
        width: 100%;
    }
}