@import url(https://fonts.google.com/specimen/Inter);

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 32px;
}

body {
    height: 100%;
    background: url("./images/pattern-bg.svg") no-repeat;
    background-size: 600px;
    background-position: 90% 40%;
}

.curve__img {
    position: absolute;
    bottom: 0;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.dev__testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    border: 2px solid red;

}

.info__section {
    border: 2px solid red;
    grid-area: 3 / 1 / 6 / 4;
    display: grid;
    align-content: center;
    width: 600px;
    text-align: left;
    z-index: 10;
}

.img__dev {
    border: 2px solid red;
    grid-area: 2 / 3 / 7 / 7;
    margin: 0 auto;
    width: 450px;
}

#slide__2 {
    display: none;
}

@media only screen and (max-width: 500px) {
    body {
        background-size: 350px;
        background-position: 50% -30%;
    }

    .curve__img {
        width: 100%;
    }
}